<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <%- include("partials/head") %>
  </head>
  <body>
    <h2 class="text-2xl m-3 underline">Admin Register</h2>

    <% if (message) { %>
    <p class="text-red-600 py-4"><%= message %></p>
    <% } %>

    <div>
      <form action="/admin/register" method="post">
        <div class="m-3">
          <label for="username">Username: </label> <br />
          <input type="text" name="username" placeholder="username" />
        </div>
        <div class="m-3">
          <label for="password">Password: </label> <br />
          <input type="password" name="password" placeholder="****" />
        </div>
        <button class="m-3 bg-violet-600 text-slate-50 py-1 px-2" type="submit">Add Admin</button>
      </form>
    </div>

    <%- include("partials/footer") %>
  </body>
</html>
