<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage - Nullnow Portfolio</title>
    <%- include("partials/head") %>
  </head>
  <body>
    <p>Homepage</p>

    <%- include("partials/footer") %>
  </body>
</html>
